.from-nav{
    width: 400px;
    display: flex;
    justify-content: center;
    margin:20px auto;
    align-items: center;
    flex-wrap: wrap;

    input{
        width: 76%;
        height: 28px;
    }
    button{
        height: 34px;
        width: 21%;
    }

    .list-todo{
        width: 100%; 
        text-align:left;
        padding-left: 6px;

        .todo{
            width: 100%;
            height: 28px;
            display: flex;
            align-items: center;

            h4{
                min-width: 50%;
            }
        }
    }

}



// table
.list-table{
    width: 70%;
    margin: auto;

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        padding: 0 6px;
     
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    }
}
  